@charset "utf-8";
body{
margin:0;
font-size: 15px;
font-family:'Gill Sans';
line-height: 1.6;
letter-spacing: 0;
color:#666666;
background-color: #ffffff;
}

img{
    max-width: 100%;
}

.inner{
    max-width: 1000px;
    width:100%;
    margin:0 auto;
}

h1{
font-size:26px;
font-weight: bold;
color: #303030;
}

h2{
font-size:18px;
}

a{
    display:inline-block;
    text-decoration: none;
}

.sub{
    color: #303030;
}

.learn{
color:#fff;
background-color: #595C69;
font-size: 15px;
padding: 20px 84px;
text-align: right;
}

img{
    max-width: 100%;
    height :auto;
    vertical-align: middle;
}

/* header */

ul{
    list-style: none;
}

.global-nav{
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.global-nav li{
    padding-right: 40px;
}

.global-nav a{
color: #303030;
text-decoration: none;
opacity: 0.5;
}

.global-nav .home,
.global-nav a:hover{
    opacity: 1;
    color: #FFBF9D;
}

/* main */

main img{
    padding-right: 20px;
}

.eat{
display:flex;
justify-content: space-between;
align-items: center;
margin: 60px 0 100px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

/* footer */
.small{
    color: #707070;
}

.back{
    background-color: #FDF5ED;
}

.add{
    color:#fff;
    background-color: #FFBF9D;
    font-size: 15px;
    padding: 20px 47px;
    }

    .newsletter{
        margin-right: 60px;
    }

    .btn{
        display: flex;
    }

    dt{
        color:#fff;
        background-color: #303030;
        font-size: 13px;
        padding: 4px 42px;
        margin-bottom: 25px;
        }

        .dd{
            padding-left: 20px;
        }

        .d{
            display: flex;
        }

/* media */

@media (max-width:600px){

    header h1{
        text-align: center;
    }
    .global-nav{
        display: flex;
        justify-content: center;
    }

    .global-nav li{
        padding-right: 40px;
    }
    
    .eat{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 80px 0 40px;
        }

        main img{
            padding-right: 30px;
        }
}
